.burger {
    display: none;
}

.burger__button {
    --size: 16px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.burger__nav {
    position: absolute;
    background-color: #fff;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
}

.burger__menu {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.burger_active .burger__nav {
    top: 0;
}

@media screen and (max-width: 730px) {
    .burger {
        display: block;
    }
}
