.header {
    padding-block: 20px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    --size: 16px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__actions {
    display: flex;
    gap: 16px;
}

.header__actions-button {
    --size: 16px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.header__burger {
    margin-left: 20px;
}

@media screen and (max-width: 730px) {
    .header__top {
        justify-content: flex-start;
    }
   .header__search {
        order: 1;
        margin-left: auto;
   }
   .header__burger {
        order: 1;
   }
   .header__actions{
        display: none;
   }
   .header__line {
        display: none;
   }
   .header__bottom {
        display: none;
   }
}