body {
    font-family: var(--font-family);
    color: var(--color-black);
}

.container {
    --max-width: 1280px;
    --padding-inline: 80px;
    margin-inline: auto;
    max-width: calc(var(--max-width) + var(--padding-inline) * 2);
    padding-inline: var(--padding-inline);
}

.container_wide {
    --max-width: 1386px;
    --padding-inline: 27px;
}

.hr-solid {
    border: none;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-block: 20px;
}

@media screen and (max-width: 730px) {
    .container, 
    .container_wide {
        --padding-inline: 24px;
    }
}